#root {
  
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.nav-items{
  list-style: none;
  flex-direction: row;
  display: flex;
}
.nav-items li{
  margin: 0 20px;
  padding: 10px;
}
.img{
  width: 90px;
}
.nav{
  
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header{
  border: 10px;
  height: 20%;
  box-shadow: 10px 10px black;
}
